.theader{
    background-color: #b677e2;
    color: #fff;
    padding: 8px;
    margin-bottom: 80px;
    border-radius: 8px;
}

.magreza{
    background-color: lightblue;
}

.normal{
    background-color: goldenrod;
}

.sobrepeso{
    background-color: lightpink;
}

.obesidade{
    background-color: yellow;
}

.obesidade-grave{
    background-color: red;
}